<!-- frontend/views/partials/footer.ejs -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
      <span class="text-muted">&copy; <span id="currentYear"></span> InfoComm Worldwide, LLC. All rights reserved.</span>
  </div>
</footer>

<!-- Update Current Year -->
<script>
  document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
